/* line 36, ../sass/grid.scss */
.no-flexbox body {
  width: 100%;
  *zoom: 1; }
  /* line 27, ../sass/grid.scss */
  .no-flexbox body:before, .no-flexbox body:after {
    content: "";
    display: table; }
  /* line 31, ../sass/grid.scss */
  .no-flexbox body:after {
    clear: both; }
