
@import url(https://fonts.googleapis.com/css?family=Signika:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

@mixin font-style-sans($size: 13px, $weight: 400) {
  font: {
    family: Signika, Helvetica Neue, Helvetica, Ubuntu Sans, Arial, sans-serif;
    size: $size;
    weight: $weight;
  }
}

@mixin font-display-sans($size: 13px, $weight: 400) {
  font: {
    family: Source Sans Pro, Helvetica Neue, Helvetica, Ubuntu Sans, Arial, sans-serif;
    size: $size;
    weight: $weight;
  }
}

@mixin font-sans-serif($size: 13px, $weight: 400) {
  font: {
    family: Helvetica Neue, Helvetica, Ubuntu Sans, Arial, sans-serif;
    size: $size;
    weight: $weight;
  }
}