@import "normalize.less";
@import "swatches.less";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Signika:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

@import "mixins/flexbox.less";

header {
	.display-flex();
	.flex-direction(horizontal);
	.flex-wrap(nowrap);
	.align-items(stretch);
	.justify-content(space-between);

	background-color: @grass-dark;
	border-bottom: 2px solid @grass-darker;

	& > #logotype {
		color: @light-gray-light;
		font-family: Signika, Arial, Helvetica, sans-serif;
		font-size: 22pt;

		padding: 5px 10px 4px 10px;

		span:first-child {
			display: inline-block;
			vertical-align: middle;
		}

		span:last-child {
			display: inline-block;
			vertical-align: baseline;
		}
	}

	#search {

	}
}

body > nav {
	.display-flex();
	.flex-direction(horizontal);
	.flex-wrap(nowrap);
	.align-items(stretch);

	.no-flexbox & {
		display: table;

		& > * {
			display: table-cell;
		}
	}

	background-color: @dark-gray-dark;
	color: @light-gray-light;
	font-family: Signika, Helvetica, Arial, sans-serif;
	font-size: 13px;

	#views {
		padding: 10px;
		width: 17%;

		#selected-box {
			background-color: @dark-gray-medium;
			color: @light-gray-light;

			box-sizing: border-box;
			display: block;
			padding: 6px 10px 6px 10px;
		}

		#views-container {
			background-color: @dark-gray-medium;
			
			display: none;
			position: absolute;
			height: 200px;
			width: 500px;
		}
	}

	& > ul#top-menu {
		list-style-type: none;

		margin: 0;
		padding: 0;
		width: 66%;

		li {
			display: inline-block;

			a {
				color: @light-gray-dark;
				font-family: Signika, Helvetica, Arial, sans-serif;
				font-size: 13px;
				text-decoration: none;

				display: block;
				padding: 17px 10px 16px 10px;

				&.selected, &:hover, &:focus {
					color: @light-gray-light;
				}
			}
		}
	}

	div#user-info {
		background: @black;

		padding: 10px;
		height: 30px;
		width: 17%;
	}
}

#content {
	.display-flex();
	.flex-direction(horizontal);
	.flex-wrap(nowrap);
	.align-items(stretch);

	.no-flexbox & {
		display: table;
		width: 100%;

		& > * {
			display: table-cell;
		}
	}

	aside, nav {
		background-color: @light-gray-light;
		
		box-sizing: border-box;
		padding: 10px;
		width: 17%;
	}

	nav#left-menu {
		h1 {
			color: @dark-gray-light;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px;
			font-weight: bold;
			text-transform: uppercase;
			text-shadow: 1px 1px white;

			display: block;
			margin: 15px 0 0 0;
			padding: 0;

			&:first-child {
				margin-top: 0;
			}
		}

		ul {
			display: block;
			margin: 0;
			padding: 0;

			li {
				display: block;
				margin: 5px 0 0 0;
				padding: 0;
			}

			a {
				color: @dark-gray-medium;
				font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
				font-size: 14px;
				text-decoration: none;

				margin-left: 15px;
			}
		}
	}

	section#middle {
		width: 66%;
	}
}