/* line 4, ../../../sass/sections/content/content.scss */
#container > section#content {
  padding: 15px 20px 15px 20px; }
  /* line 7, ../../../sass/sections/content/content.scss */
  #container > section#content header {
    border-bottom: 1px solid #e6e9ed; }
  /* line 11, ../../../sass/sections/content/content.scss */
  #container > section#content h1 {
    font-family: Signika, Helvetica Neue, Helvetica, Ubuntu Sans, Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #434a54;
    display: inline-block;
    margin: 0;
    padding: 0; }
