@import url(https://fonts.googleapis.com/css?family=Signika:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
/* line 36, ../../sass/grid.scss */
.no-flexbox body {
  width: 100%;
  *zoom: 1; }
  /* line 27, ../../sass/grid.scss */
  .no-flexbox body:before, .no-flexbox body:after {
    content: "";
    display: table; }
  /* line 31, ../../sass/grid.scss */
  .no-flexbox body:after {
    clear: both; }

/* line 5, ../../sass/sections/content.scss */
body > #content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1"><rect width="300" height="100" style="fill:rgb(0,0,0);stroke-width:0;stroke:rgb(0,0,0)"/></svg>")'); }
  /* line 42, ../../sass/grid.scss */
  .no-flexbox body > #content {
    margin: 0 0%;
    overflow: hidden;
    *zoom: 1; }
    /* line 27, ../../sass/grid.scss */
    .no-flexbox body > #content:before, .no-flexbox body > #content:after {
      content: "";
      display: table; }
    /* line 31, ../../sass/grid.scss */
    .no-flexbox body > #content:after {
      clear: both; }
  /* line 49, ../../sass/grid.scss */
  .flexbox body > #content {
    display: -webkit-flex;
    display: flex; }
  /* line 10, ../../sass/sections/content.scss */
  body > #content aside, body > #content nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    background-color: #f5f7fa;
    padding: 10px; }
    /* line 75, ../../sass/grid.scss */
    .no-flexbox body > #content aside, .no-flexbox body > #content nav {
      display: inline-block;
      float: left;
      margin: 0 0%;
      margin-bottom: -99999px;
      padding-bottom: 99999px; }
  /* line 18, ../../sass/sections/content.scss */
  body > #content > nav h1, body > #content > aside h1 {
    font-family: Helvetica Neue, Helvetica, Ubuntu Sans, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #aab2bd;
    text-transform: uppercase;
    text-shadow: 1px 1px white;
    display: block;
    margin: 10px 0 5px 0;
    padding: 0; }
    /* line 30, ../../sass/sections/content.scss */
    body > #content > nav h1:first-child, body > #content > aside h1:first-child {
      margin-top: 0; }
  /* line 35, ../../sass/sections/content.scss */
  body > #content > nav ul, body > #content > aside ul {
    display: block;
    margin: 0;
    padding: 0; }
    /* line 40, ../../sass/sections/content.scss */
    body > #content > nav ul li, body > #content > aside ul li {
      display: block;
      margin: 0 0 5px 0;
      padding: 0; }
    /* line 46, ../../sass/sections/content.scss */
    body > #content > nav ul a, body > #content > aside ul a {
      font-family: Source Sans Pro, Helvetica Neue, Helvetica, Ubuntu Sans, Arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #656d78;
      text-decoration: none;
      margin-left: 15px; }
  /* line 57, ../../sass/sections/content.scss */
  body > #content section#middle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%; }
    /* line 75, ../../sass/grid.scss */
    .no-flexbox body > #content section#middle {
      display: inline-block;
      float: left;
      margin: 0 0%;
      margin-bottom: -99999px;
      padding-bottom: 99999px; }
