@import url(https://fonts.googleapis.com/css?family=Signika:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
/* line 4, ../../sass/sections/footer.scss */
footer {
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Ubuntu Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  background-color: #434a54;
  color: #ccd1d9;
  text-shadow: 1px 1px #323943;
  padding: 10px; }
