@import url(https://fonts.googleapis.com/css?family=Signika:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
/* line 36, ../../sass/grid.scss */
.no-flexbox body {
  width: 100%;
  *zoom: 1; }
  /* line 27, ../../sass/grid.scss */
  .no-flexbox body:before, .no-flexbox body:after {
    content: "";
    display: table; }
  /* line 31, ../../sass/grid.scss */
  .no-flexbox body:after {
    clear: both; }

/* line 7, ../../sass/sections/header.scss */
header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: #8cc152;
  border-bottom: 2px solid #6ca132;
  height: 50px; }
  /* line 42, ../../sass/grid.scss */
  .no-flexbox header {
    margin: 0 0%;
    overflow: hidden;
    *zoom: 1; }
    /* line 27, ../../sass/grid.scss */
    .no-flexbox header:before, .no-flexbox header:after {
      content: "";
      display: table; }
    /* line 31, ../../sass/grid.scss */
    .no-flexbox header:after {
      clear: both; }
  /* line 49, ../../sass/grid.scss */
  .flexbox header {
    display: -webkit-flex;
    display: flex; }
  /* line 14, ../../sass/sections/header.scss */
  header > #logotype {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    font-family: Signika, Helvetica Neue, Helvetica, Ubuntu Sans, Arial, sans-serif;
    font-size: 22pt;
    font-weight: 400;
    color: #f5f7fa;
    padding: 5px 10px 4px 10px; }
    /* line 75, ../../sass/grid.scss */
    .no-flexbox header > #logotype {
      display: inline-block;
      float: left;
      margin: 0 0%;
      margin-bottom: -99999px;
      padding-bottom: 99999px; }
    /* line 22, ../../sass/sections/header.scss */
    header > #logotype span:first-child {
      display: inline-block;
      vertical-align: middle; }
    /* line 27, ../../sass/sections/header.scss */
    header > #logotype span:last-child {
      display: inline-block;
      vertical-align: baseline; }
  /* line 33, ../../sass/sections/header.scss */
  header #search {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%; }
    /* line 75, ../../sass/grid.scss */
    .no-flexbox header #search {
      display: inline-block;
      float: left;
      margin: 0 0%;
      margin-bottom: -99999px;
      padding-bottom: 99999px; }
  /* line 37, ../../sass/sections/header.scss */
  header #notifications {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%; }
    /* line 75, ../../sass/grid.scss */
    .no-flexbox header #notifications {
      display: inline-block;
      float: left;
      margin: 0 0%;
      margin-bottom: -99999px;
      padding-bottom: 99999px; }
